<form #f="ngForm" (ngSubmit)="onSubmit(f.form)" action="">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input
            ngControl="firstName"
            #firstName="ngForm"
            id="firstName"
            type="text"
            class="form-control"
            minlength="3"
            required>
            <ul *ngIf="firstName.touched && firstName.errors" class="alert alert-danger">
                <!--{{ firstName.errors | json }}-->
                <li *ngIf="firstName.errors.required" role="alert">
                    First name is required
                </li>
                <li *ngIf="firstName.errors.minlength" role="alert">
                    First name should be minimum {{ firstName.errors.minlength.requiredLength }} characters
                </li>
            </ul>
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            ngControl="email"
            #email="ngForm"
            id="email"
            type="email"
            class="form-control"
            required>
            <ul *ngIf="email.touched && email.errors" class="alert alert-danger">
                <!--{{ firstName.errors | json }}-->
                <li *ngIf="email.errors.required" role="alert">
                    Email address is required
                </li>
            </ul>
    </div>
    <div class="form-group">
        <label for="frequency">Frequency of emails</label>
        <select
            ngControl="frequency"
            #frequency="ngForm"
            id="frequency"
            class="form-control"
            required>
            <option value="Monthly">Monthly</option>
            <option value="Weekly">Weekly</option>
            <option value="Daily">Daily</option>
        </select>
        <ul *ngIf="frequency.touched && frequency.errors" class="alert alert-danger">
            <!--{{ firstName.errors | json }}-->
            <li *ngIf="frequency.errors.required" role="alert">
                Please select frequency
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>